body{
    color: rgb(105, 48, 128);
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
}
header{
    border-bottom: solid 2px rgb(105, 48, 128);
    padding: 15px;
}

section{
 background: rgb(105, 48, 128) ;
 padding-bottom: 90px;
 padding-top: 90px;
 display: flex;
 justify-content: center;

}
h1{

    color: rgb(0, 0, 0);
}